.publishContainer {
    padding: 20px;

    .Block {
        border-bottom: 1px solid #EDEDED;
        margin-bottom: 40px;
        font-size: 32px;
    }

    // 编辑器工具栏
    .editorToolbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: #EDEDED;
        display: flex;
        padding: 5px;
        box-sizing: border-box;
        line-height: 1.6;

        .toolIconfont {
            font-size: 40px;
            color: #e98e97;
            text-align: center;
            flex: 1;
        }
    }

    // 富文本编辑器
    .categoryGroup {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        .radio {
            min-width: 15%;
            text-align: center;
            font-size: 40px;
            line-height: 60px;
            margin-top: 30px;
            margin-right: 30px;
            @include defaultBtn();
        }

        .active {
            @include activeBtn();
        }
    }

    /* 模态框 */
    .modal {
        position: fixed;
        top: 50%;
        left: 16px;
        right: 16px;
        background-color: #fff;
        border-radius: 12px;
        transform: translateY(-50%);
        z-index: 100;

        .modalTitle {
            padding: 32px 24px 16px;
            font-weight: 700;
            text-align: center;
        }

        .modalInput {
            display: block;
            padding: 5px;
            margin: 0 24px 32px 24px;
            font-size: 32px;
            border: 1px solid #dfe2e5;
        }

        .modalFoot {
            display: flex;
            line-height: 80px;
            font-weight: 700;
            border-top: 1px solid rgba(0, 0, 0, .1);
        }

        .modalButton {
            flex: 1;
            text-align: center;
        }
    }

    /* 蒙版 */
    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
        z-index: 99;
    }

    .coverList {
        display: flex;

        .cover {
            position: relative;
            width: 30%;
            height: 250px;
            background-color: #d7d7d7;
            display: flex;
            margin: 20px 0;
            margin-right: 20px;

            .delBtn {
                // font-size: 32px;
                color: #d7d7d7;
                position: absolute;
                right: calc((100% - 60rpx) / 2);
                bottom: 50px;
                padding: 10px;
                background-color: black;
                border-radius: 60px;
            }

            Text {
                margin: auto;
                font-size: 60px;
            }
        }
    }

    // 预览
    .contentItem {
        height: 180px;
        padding: 20px 0;
        display: flex;
        border-bottom: 1px solid #d7d7d7;
    }

    .buttonGroup {
        display: flex;
        justify-content: space-around;

        button {
            font-size: 32px
        }

        .publishBtn {
            @include activeBtn();
        }

        .draftBtn {
            @include defaultBtn();
        }
    }
}