//  默认颜色
$primaryColor:#e98e97;

@mixin defaultBtn {
    color: $primaryColor;
    border: 1px solid $primaryColor;
    background-color: white;
}

@mixin activeBtn {
    color: white;
    background-color: $primaryColor;
}

@mixin handleStyle {
    border-left: 1px solid #9d9d9d;
    padding-left: 20px;
    color: $primaryColor;
}

// 头像
@mixin portrait($size:60px) {
    width: $size;
    height: $size;
    border-radius: $size;
}

// 单行文本省略
@mixin textOmitted {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}