.articleCard {
    padding: 20px 0;
    margin-bottom: 20px;
    background: white;

    &:first-child {
        margin-top: 20px;
    }
    // 用于继承
    .item{
        margin: 10px 0;
    }
    .header {
        display: flex;
        align-items: center;
        @extend .item;
        .portrait {
            width: 60px;
            height: 60px;
            border-radius: 60px;
        }

        .nickNmae {
            font-size: 32px;
        }

        .publishTime {
            color: #9d9d9d;
            font-size: 24px;
        }

        .right {
            float: right;
            margin-left: auto;

            button {
                font-size: 32px;
                height: 60px;
                line-height: 60px;
                border-radius: 5px;
                @include defaultBtn
            }
        }
    }

    .body {
        flex: 1;
        @extend .item;
        .title {
            //多行文本溢出隐藏用...代替
            font-size: 36px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 50px;
            display: -webkit-box;
            -webkit-box-orient: vertical; // 设置对齐模式：垂直
            -webkit-line-clamp: 2;
        }


    }

    .cover {
        display: flex;
        // justify-content: space-between;
        flex-wrap: nowrap;
        // overflow: hidden;
        @extend .item;
        .contentImage {
            // width: 50vw;
            max-height: 250px;
            margin-right: 1vw;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .footer {
        line-height: 30px;
        font-size: 30px;
        color: #9d9d9d;
        clear: both;
        @extend .item;
        .browse{
            font-size: 32px;
        }
        .info{
            float: right;
            margin-left: auto;
            .count{
                font-size: 30px;
                margin-left: 10px;
            }
        }
    }
}