@font-face {
  font-family: "iconfont"; /* Project id 3587140 */
  src: url('//at.alicdn.com/t/c/font_3587140_crwov28176.woff2?t=1661047628329') format('woff2'),
       url('//at.alicdn.com/t/c/font_3587140_crwov28176.woff?t=1661047628329') format('woff'),
       url('//at.alicdn.com/t/c/font_3587140_crwov28176.ttf?t=1661047628329') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang_kuai:before {
  content: "\e86d";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-zhuanfa1:before {
  content: "\e63d";
}

.icon-zhuanfa:before {
  content: "\e629";
}

.icon-shuru:before {
  content: "\ec7c";
}

.icon-clear1:before {
  content: "\e710";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-lock:before {
  content: "\e6b4";
}

.icon-a-011-smartphone-1:before {
  content: "\e628";
}

.icon-redo:before {
  content: "\e681";
}

.icon-undo:before {
  content: "\e7c6";
}

.icon-video:before {
  content: "\e7c8";
}

.icon-link:before {
  content: "\e612";
}

.icon-video1:before {
  content: "\e820";
}

.icon-clear:before {
  content: "\e633";
}

.icon-img:before {
  content: "\e624";
}

.icon-text:before {
  content: "\e734";
}

.icon-save:before {
  content: "\e604";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-lishi:before {
  content: "\e608";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-zhuye-selected:before {
  content: "\e654";
}

.icon-geren-selected:before {
  content: "\e655";
}

.icon-geren:before {
  content: "\e653";
}

.icon-zhuye:before {
  content: "\e639";
}
