.myContainer {
    padding: 20px;

    // 用户部分
    .userSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 40px;

        .userInfo {
            display: flex;
            line-height: 50px;

            .portrait {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: aqua;
                margin-right: 20px;
            }

            .UID {
                font-size: 24px;
                color: #9d9d9d;
            }
        }

        .personal {
            color: #9d9d9d;
            font-size: 24px;
        }
    }
    .title{
        font-size: 32px;
        // font-weight: bold;
    }
    // 用户Cards
    .myWrapper {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;

        .card {
            position: relative;
            padding: 20px 0;
            color: #9d9d9d;
            font-size: 24px;
            text-align: center;
            line-height: 50px;

            .num {
                font-size: 32px;
                color: black;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .tag{
                position:absolute;
                top: 10px;
                right: 50px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: white;
                font-size: 18px;
                border-radius: 100%;
                background-color: red;
            }
        }
    }

    .iconfont {
        color: #9d9d9d;
        font-size: 32px;
    }

    .navIconfont {
        color: #e98e97;
        font-size: 48px;
    }

    .listIconfont {
        color: #e98e97;
        font-size: 36px;
        margin-right: 20px;
    }

    // 操作List
    .handleList {
        display: flex;
        flex-direction: column;

        .handleItem {
            padding: 0 30px;
            height: 112px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;
        }
    }
     /* 模态框 */
     .modal {
        position: fixed;
        top: 50%;
        left: 16px;
        right: 16px;
        background-color: #fff;
        border-radius: 12px;
        transform: translateY(-50%);
        z-index: 100;

        .modalTitle {
            padding: 32px 24px 16px;
            font-weight: 700;
            text-align: center;
        }

        .modalHide{
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 36px;
        }

        .modalInput {
            display: block;
            padding: 5px;
            margin: 0 24px 32px 24px;
            font-size: 32px;
            border: 1px solid #dfe2e5;
        }

        .modalErrMsg{
            display: flex;
            color: red;
            font-size: 32px;
            text{
                margin: auto;
            }
        }
        .modalFoot {
            display: flex;
            line-height: 80px;
            font-weight: 700;
            border-top: 1px solid rgba(0, 0, 0, .1);
        }

        .modalButton {
            flex: 1;
            text-align: center;
        }
    }

    /* 蒙版 */
    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
        z-index: 99;
    }
}