.homeContainer {
    padding: 10px 20px;
    .banner {
        width: 100%;
        height: 500px;
        background-image: url('../../assets/images/bgImg.jpg');
    }
    // 空间详情
    .spaceInfo {
        margin-top: -150px;
        background-color: white;

        .part1 {
            background-color: white;
            display: flex;

            .face {
                margin-left: 20px;
                margin-right: 100px;

                .portrait {
                    @include portrait(160px)
                }
            }

            .statistical {
                flex: 1;
 
                .count {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 100px;

                    .fans {
                        width: 33%;
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;

                        .num {
                            font-size: 28px;
                            color: #212121;
                            line-height: 28px;
                        }

                        .type {
                            font-size: 28px;
                            color: #999;
                        }
                    }


                }

                .subscribeBtn {
                    height: 60px;
                    line-height: 60px;
                    font-size: 32px;
                    background: $primaryColor;
                    color: #fff;
                }

                .defaultBtn {
                    @extend .subscribeBtn;
                    background: white;
                    color: $primaryColor;
                    border: 1px $primaryColor solid;
                }
            }
        }

        .part2 {
            margin: 20px 0;

            .base {
                .name {
                    font-size: 4.8vmin;
                    color: #212121;
                    max-width: 62.66667vmin;
                    vertical-align: middle;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                }

                .gender {
                    font-size: 4.8vmin;
                    margin-left: 1.06667vmin;
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .desc {
                display: flex;

                .sign {
                    font-size: 32px;

                    text {
                        display: inline-block;
                        max-width: 80Vmin;
                        @include textOmitted
                    }

                    textarea {
                        max-width: 80Vmin;
                    }
                }

                .spreadBtn {
                    margin-left: auto;
                    font-size: 32px;
                    color: $primaryColor;
                }
            }

            .tags {
                text {
                    margin-right: 20px;
                    font-size: 24px;
                    color: #505050;
                    background-color: #f4f4f4;
                }
            }
        }
    }

    // 导航栏
    .navScroll {
        display: flex;
        white-space: nowrap;
        height: 70px;

        .navItem {
            background-color: white;
            height: 60px;
            line-height: 60px;
            margin-right: 40px;
            font-size: 32px;
        }

        .active {
            color: #e98e97;
            border-bottom: 1px solid #e98e97;
        }
    }

    .articleScroll {
        height: calc(100vh - 90px);
        background: #f2eeee;

        .commentCard {
            background-color: white;
            padding: 20px 0;
            border-bottom: 2px #f2eeee solid;
        }

        // 用于继承
        .item {
            margin: 10px 0;
        }

        .header {
            display: flex;
            align-items: center;
            @extend .item;

            .remark {
                flex: 1;
                font-size: 32px;
                margin-right: 20px;
            }

            .portrait {
                @include portrait;
                margin-right: 10px;
            }

            .nickNmae {
                font-size: 32px;
            }

            .publishTime {
                color: #9d9d9d;
                font-size: 24px;
            }

            &::after {
                clear: both;
            }

            .right {
                float: right;
                margin-left: auto;
                cursor: pointer;
                font-size: 32px;
                color: gray;

            }
        }

        .body {
            flex: 1;
            @extend .item;

            .title {
                //多行文本溢出隐藏用...代替
                font-size: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 50px;
                display: -webkit-box;
                -webkit-box-orient: vertical; // 设置对齐模式：垂直
                -webkit-line-clamp: 2;
            }


        }
    }
}